<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.blocker">

    <uses-sdk
        android:minSdkVersion="26"
        android:targetSdkVersion="35" />

    <application
        android:label="WidgetBlocker"
        android:description="@string/xposed_description"
        android:hasCode="true"
        android:allowBackup="false"
        android:extractNativeLibs="false" />
</manifest>
